:root {
  --black:   #0A0A0A;
  --vinho:   #6B0F1A;
  --vinho2:  #3D0A10;
  --vinho-dim: #3D0A10;
  --vinho-glow: rgba(107,15,26,0.35);
  --prata:   #C4C4C4;
  --off:     #F2EFE9;
  --dim:     #666666;
  --dimmer:  #333333;
  --dim2:    #2a2a2a;
  --mid:     #161616;
  --mid2:    #1e1e1e;
  --font-d:  'Barlow Condensed', sans-serif;
  --font-b:  'Outfit', sans-serif;
  --font-m:  'JetBrains Mono', monospace;
}
